/* Reset some default styles */
html {
    box-sizing: border-box;
    font-size: 12px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom styles */
header {
    padding: 1rem;
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.answer {
    font-size: 1.75rem; /* Adjust this value to make the font larger or smaller */
    font-weight: bold;
    color: #333;
}

.explanation {
    font-size: 1.75rem; /* Adjust this value to make the font larger or smaller */
    font-weight: bold;
    color: #333;
} 

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.nav-arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.nav-arrows a {
  text-decoration: none;
  color: #1a73e8;
  font-weight: bold;
  font-size: 18px;
}

.nav-arrows a:hover {
  text-decoration: underline;
}


